options {
  // [MJS 2014-07-03] Basic setup.
  allow-query { any; };
  allow-query-cache { none; };
  allow-transfer{ none; };
  auth-nxdomain no;
  empty-zones-enable no;
  listen-on-v6 { none; };
  notify no;
  recursion no;

  // [MJS 2014-03-03] Prompted by a http://www.dnsinspect.com/ report.
  version "Zwitterion";

  // [MJS 2014-03-02] As per http://www.redbarn.org/dns/ratelimits
  rate-limit {
    responses-per-second 15;
    window 5;
  };
};

{% for zone in zones.stdout_lines %}
zone "{{ zone }}" { type master; file "/srv/dns/zones/{{ zone }}"; };
{% endfor %}
