listen on eth0 tls hostname "{{ mailname }}"

max-message-size 100M

pki "{{ mailname }}" key "/etc/ssl/private/{{ mailname }}.key"
pki "{{ mailname }}" certificate "/etc/ssl/certs/{{ mailname }}.crt"

table credentials db:/etc/mail/credentials.db
table forwarding db:/etc/mail/forwarding.db

# TODO(suter): The LHS of <forwarding> has all the email addresses for
# all the domains.  Is there a way to leverage that and not have to list
# the domains again here?  The obious "for any" doesn't work :(
accept from any for domain "mark.suter.name" virtual <forwarding> userbase <forwarding>
accept from any for domain "suter.id.au" virtual <forwarding> userbase <forwarding>
accept from any for domain "*.zwit.org" virtual <forwarding> userbase <forwarding>
accept from any for domain "zwitterion.humbug.org.au" virtual <forwarding> userbase <forwarding>
accept from any for domain "*.zwitterion.org" virtual <forwarding> userbase <forwarding>

accept for domain "zwitterion.zwitterion.org" \
  relay via tls://zwitterion.zwitterion.org:2525 \
  hostname "{{ mailname }}"

accept for any \
  relay via tls+auth://sendgrid@smtp.sendgrid.net:2525 \
  auth <credentials> \
  hostname "{{ mailname }}"
